---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/footer_prueba.astro';
import AboutUs from '../components/AboutUs.astro';
import Mission from '../components/Mission.astro';
import Vision from '../components/Vision.astro';
import GalleryCarousel from '../components/Informacion.astro';
import Team from '../components/Team.astro';
---

<Layout title="Home">

  <section class="hero">
    
    <!-- BACKGROUND -->
    <div class="hero__bg">
      <img
        src="/Imágenes/Imagen de pantalla de inicio-fondo.jpg"
        alt=""
      />
    </div>

    <!-- OVERLAY -->
    <div class="hero__overlay">
     <a class="login__logo" href="/" aria-label="SEINA">
      <img
        src="/Identidad/Identidad principal en blanco.png"
        alt="SEINA"
        width="240"
        height="180"
        loading="eager"
      />
    </a>
    </div>
    <!-- HEADER -->
    <Header />

<a class="login__logo" href="/" aria-label="SEINA">
      <img
        src="/Identidad/Identidad principal en blanco.png"
        alt="SEINA"
        width="240"
        height="180"
        loading="eager"
      />
    </a>
    

  </section>

  <!-- ABOUT US -->
  <div id="about">
    <AboutUs />
  </div>

  <div id="mission">
    <Mission />
  </div>
 
  <div id="vision">
    <Vision />
  </div>

  <!-- FOOTER -->
  <Footer />

<style>
/* =========================
   HERO SECTION
========================= */

.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  
}

/* BACKGROUND IMAGE */
.hero__bg {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.hero__bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

/* DARK OVERLAY */
.hero__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 2;
  
}


/* CONTENT */
.hero__content {
  position: relative;
  z-index: 3;
  text-align: center;
  color: white;
  max-width: 900px;
  
  padding: 1rem;
  margin-top:80px;
}

.hero__content h1 {
  font-size: clamp(3rem, 8vw, 7rem);
  margin-bottom: 0;
  font-weight: 700;
  margin-top:0px;
  
}

.hero__content p {
  font-size: clamp(1.2rem, 2vw, 2rem);
  line-height: 1.4;
  margin-top:0px;
  max-width:70%;
  margin: auto;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero__content {
    padding: 1rem;
  }
}
</style>