---
---

<button
  id="menu-toggle"
  class="hamburger"
  type="button"
  aria-label="Abrir menú"
>
  <img
    src="/Elementos gráficos/Menú 2-01.svg"
    alt="Menú"
    width="26"
    height="26"
  />
</button>

<style>
  .hamburger {
    width: 64px;
    height: 44px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  .hamburger img {
    display: block;
    width: 46px;
    height: 46px;
  }
</style>