---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/footer_prueba.astro';
import PersonaForm from '../../components/forms/PersonaForm.astro';
import FormTabs from "../../components/forms/FormTabs.astro";
import TablaConVistas from '../../components/TablaConVistas.astro';
---

<Layout
  title="Form Persona"
  bodyClass="body--light"
>

  <Header />
  <FormTabs/>
  <main class="page">

    <TablaConVistas
      columns={[
        { key: 'col1', header: 'Columna 1' },
        { key: 'col2', header: 'Columna 2' },
        { key: 'col3', header: 'Columna 3' },
        { key: 'acciones', header: 'Acciones' }
      ]}
      rows={[
        { col1: 'Persona 1', col2: 'Correo 1', col3: 'Telefono 1' },
        { col1: 'Persona 2', col2: 'Correo 2', col3: 'Telefono 2' },
        { col1: 'Persona 3', col2: 'Correo 3', col3: 'Telefono 3' }
      ]}
    >
      <PersonaForm />
    </TablaConVistas>

  </main>

</Layout>

<style>


.page {
  min-height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
 
  padding: 40px 24px;
}

  body {
    
    background: white;
    color: #111;
  }

</style>